<head>
    <link rel="stylesheet" href="main.css">
</head>

<div>
    <h1>好きなカテゴリーを選択</h1>

    <a href="Food">
        <div class="Select">
            グルメ
        </div>
    </a>
    <a href="Sports">
        <div class="Select">
            スポーツ
        </div>
    </a>
    <a href="Society">
        <div class="Select">
            ニュース
        </div>
    </a>
    <a href="Theater">
        <div class="Select">
            映画
        </div>
    </a>
    <a href="Anime">
        <div class="Select">
            アニメ
        </div>
    </a>
</div>