<div>
    <h1>here is index</h1>
    <a href="/Food">
        <div>
            グルメ
        </div>
    </a>
    <a href="/Sports">
        <div>
            スポーツ
        </div>
    </a>
    <a href="/Society">
        <div>
            ニュース
        </div>
    </a>
    <a href="/Theater">
        <div>
            映画
        </div>
    </a>
    <a href="/NBA">
        <div>
            NBA
        </div>
    </a>
</div>