<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>AnythingChatCommunity</title>
</head>
<body>
<a href="ホーム"></a>
<div>
    <h1 class="Anything">なんでも掲示板</h1>

</div>
<div class="container">
    <%- body %>
</div>
</body>
</html>