<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Sakihama Page</title>
</head>
<body>
<div>

</div>
<div class="container">
    <%- body %>
</div>
</body>
</html>