<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Sakihama Page</title>
</head>
<body>
<div>
    <h1>Hello Sakihama</h1>
</div>
<div class="container">
    <%- body %>
</div>
</body>
</html>