<div>
    <form action="/<%= category %>/<%= thread %>/create" method="POST">
        <textarea type="text" name="message" placeholder="Message" autofocus></textarea>
            <input type="text" name="user" placeholder="User" autofocus><br/>
        <input type="hidden" name="category" placeholder="Category" value="Hi friend"><br/>
        <button type="submit">Create</button>
    </form>
</div>