.Top {
    font-size: 120px;
    text-align: center;
}

.NewCategory {
    font-size: 80px;
}

.Select {
    color: #fff;
    background-color: brown;
    margin-bottom: 8px;
    font-size: 50px;
}

.Anything {
    font-size: 100px;
    color: brown;
    text-align: center;
}

.container {
    padding: 0 16px 0 16px;
}

.Make {

}

.a {
    text-decoration: navy;
    font-size: 50px;
}